<b>🎬 Movie Match Bot - Help 🎬</b>


I'm here to assist you with various tasks. Here are some of the commands you can use:


<b>/start</b> — Start using the bot.
<b>/about</b> — Get general info about the bot.
<b>/settings</b> — Configure bot settings.
<b>/help</b> — Get some usage examples.


Usage Examples:
<b>Search Movie by Title:</b> <i>Search ➡️ Movie</i>
<b>Search TV Show by Title:</b> <i>Search ➡️ Show</i>
<b>Search TV Person Profile by Name:</b> <i>Search ➡️ Person</i>


<b>Discover Movie by Genre or Cast:</b> <i>Discover ➡️ Movie ➡️ cast / genre</i>
<b>Discover TV Show by Genre or Cast:</b> <i>Discover ➡️ Show ➡️ cast / genre</i>
<b>Discover Top Rated Films or TV Shows:</b> <i>Discover ➡️ Movie / Show ➡️ Top Rated</i>
<b>Discover Trending Films:</b> <i>Discover ➡️ Movies ➡️ Trending</i>
<b>Discover Upcoming Films:</b> <i>Discover ➡️ Movies ➡️ Upcoming</i>
<b>Discover Airing Today TV Shows:</b> <i>Discover ➡️ Shows ➡️ Airing Today</i>


If you need assistance, have questions, or want to report issues, feel free to contact our
support bot at <a href='https://t.me/film_matcher_bot'>Support bot</a>


Enjoy using Movie Match Bot 🥰